<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <style>

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            background: #e6e6e6;
        }

        body {
            display: table;
        }

        .my-block {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="my-block">
    <h1>Are You Lost?</h1>
    <button onclick="goBack()">Go Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>